.work-text h1{
font-family: serif;
font-size: 2rem;
font-weight: 900;

}
.work-text {
font-family: serif;
font-size: 2rem;
padding: 2rem;
border: 4px solid #bfdbf6;
border-radius: 1rem;
width: 90%;
margin: auto;
margin-bottom: 1rem;
}
.work-text:hover{
background-color: 		#e2dfd9;
border-color: 	#333333;
}